body {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

table {
    background-color: #29817d;    
    border-collapse: collapse;
    border: 2px solid #c9c86c;
    width: 40%;
}

tr {
    border-bottom: 1px solid black
}


thead > tr {
    background-color: #276471 !important;
    cursor: auto !important;
    color: white;
    border-bottom: 2px solid #c9c86c
}

tr:nth-child(even) {
    background-color: #39a09b;
}

tr:hover {
    background-color: #86b572;
    cursor: pointer;
}