.container {
    display: flex;
    border: solid;
    height: 500px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid gray;
    width: 50%;
}

.text {
    max-width: 70%;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50%;
}