html {
    /* Color Pallete Variables */

    /* Background colors */
    --bg-light: white;
    --bg-mid: #f7fafc;
    --bg-dark: #f2f5f9;
    --bg-xdark: #1e293b;

    /* Font Colors */
    --text-main: #66768c;
    --text-header: #1e293b;
    --text-accent: #2463eb;
    --text-light: white;

    /* UI Colors */
    --ui-main: #2a67ec;
    --ui-sec: #f59e0b;
    --ui-overlay: #e2e8f0;

}

* {
    box-sizing: border-box;    
    font-family: "Inter", sans-serif;
}

body {      
      margin: 0;
}

/* General Styling */
section {
    padding: 1rem;
    text-align: center;
}


/* Header */

header {
    display: flex;
    background-color: var(--bg-light);
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;   
}

header > h2 {
    color: var(--text-accent);
}

/* Main */

main h1, h2, h3 {
    color: var(--text-header);
    font-weight: 700;
}

main p {
    color: var(--text-main);
}

/* Hero Section */
section.hero {
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
}

section.hero button {
    background-color: var(--ui-main);
    color: white;
    border: 0;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* About Section */
section.about {
    background-color: var(--bg-light);    
}

.skill-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.progress-bar {
    position: relative;
    width: 8rem;
    background-color: var(--ui-overlay);
    border-radius: 15px;
    height:12px;
}

.progress-bar-fill {
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background-color: var(--ui-main);
    border-radius: 15px 0 0 15px;
}

/* Progress bar fill % */
#pb-js {width: 85%;}
#pb-node {width: 50%;}
#pb-react {width: 80%;}
#pb-react-native {width: 60%;}
#pb-python {width: 90%;}
#pb-sql {width: 60%;}
#pb-aws {width: 50%;}

/* Projects Section */

section.projects {
    background-color: var(--bg-mid);
}

.project-container {
    border-radius: 15px;
    text-align: start;
    margin-bottom: 2rem;
    border-radius: 10px 10px 10px 10px;    
    box-shadow: 1px 5px 13px -2px rgba(0,0,0,0.73);

}

.project-img-container {
    border-radius: 10px 10px 0 0;
    background-color: darkgray;
}

.project-info-container {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 0 0 10px 10px;

}

.project-info-container > h3 {
    margin-top: 0;
}

.project-button {
    border: 0;
    padding: 1rem;
    background-color: var(--ui-sec);
    color: white;
    width: 100%;
    border-radius: 10px;
}

/* Contact Section */
section.contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
section.contact label {
    text-align: start;
    padding: 5px 0;
    color: var(--text-header);
    font-weight: 700;
}
section.contact input, textarea {
    padding: 5px;
    border: 2px solid silver;
    border-radius: 5px;
    margin-bottom: 1rem;
}

section.contact button {
    border: 0;
    background-color: var(--ui-main);
    color: var(--text-light);
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
}

section.contact span {
    color: var(--text-main);
    margin-bottom: 1rem;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}

.link-button {
    padding: 1rem;
    background-color: var(--ui-main);
    border-radius: 50%;    
    color: var(--text-light);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--bg-xdark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    padding: 2rem 0;
}

@media (min-width: 600px) {
    section.hero {
        flex-direction: row;
    }
    section.hero > .info-container {
        text-align: start;
        width: 60%;
    }
}