body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

img {
    width: 24px;
    display: inline-block;
}

table {
    text-align: center;
    vertical-align: middle;
    border: 2px solid lightgray;
    
    
}

tr {
    background-color: rgb(113, 221, 179);
    border: 1px solid lightgray
}

td {
    border: 1px solid lightgray
}

td:nth-child(3) {
    font-weight: bold;
}

td:nth-child(9) {
    font-weight: bold;
}

thead > tr {
    background-color: lightgray;
}